@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}
select,
input,
textarea {
  border: 1px solid #ebf2ff;
  outline-color: #86aec5;
  border-radius: 4px;
}
.active {
  background-color: #ebf2ff;
  border-color: #86aec5;
}
