@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
  @apply transition-colors duration-200;
}
a.active hr {
  display: block;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}
@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
.clock {
  font-family: "Orbitron";
}
@media (max-width: 770px) {
  .calendar,
  .ampm {
    font-size: 0.7rem;
  }

  .hour {
    font-size: 4rem;
  }

  .clock {
    padding: 5px;
  }

  .countdown {
    font-size: 4rem;
  }
}
